.consolecontainer {
  border: 2px solid cyan;
}

.consolecontainer > button {
  background-color: #007098;

  width: 70px;
  height: 30px;

  display: block;

  transition: 0.5s;
  
  border-radius: 10px;
}

.consolecontainer > button:hover{
  background-color: #00BFFF;
}

.codediv {
  border: 1px solid purple;

  width: 200px;
  height: 300px;

  overflow: hidden;
  
  display: inline-block;
}

.codearea {
  resize: none;

  border: 0;

  width: 100%;
  height: 100%;

  background-color: #292929;

  font-family: monospace;
}

.console {
  border: 1px solid maroon;

  width: 400px;
  height: 300px;

  overflow: scroll;

  display: inline-block;

  overflow: hidden;
}

.message-log {
  background-color: #292929;
  color: aliceblue;
  font-family: monospace;
}

.message-warn {
  background-color: #999900;
  font-family: monospace;
}

.message-error {
  background-color: #660000;
  font-family: monospace;
}